<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> 权限错误 </title>
<link href="{{src_url}}css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{src_url}}css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <div class="head ">
    <div class="headinner">
    <div class="items">
        <div class="logo">
            <img src="{{src_url}}images/logo.png" />
        </div>
        <div class=" user_login">

        </div>
    </div>
     </div>
  </div>

<div class="no_permission">
    <div class="inner">
        <img src="{{src_url}}images/warning.png" />
        权限暂未开通
    </div>
    请联系管理员申请权限,谢谢合作. <a href="/" style="font-weight: normal; text-decoration: underline; font-size: 12px;">返回首页</a>
</div>

<div class="foot items">
  <hr>
  Copyright &copy; 2015 Sohu.com Inc. All rights reserved. 搜狐公司 版权所有 <br>
增值电信业务经营许可证B2-20040144 京ICP证030367号 互联网新闻信息服务许可证
  </div>



</body>
</html>
