<div class="maininner" style=" padding-top:2px;">
	<h6 class="maintt">
		您的位置：
		<a href="/">首页</a>
		&gt; 城市数据字典 &gt;
		<strong class="font_gold"> 房源特色标签 </strong>
	</h6>
	<form method="get" action="/labels/">
		<table class="search_form mb15">
			<tbody>
				<tr>
					<td width="120">
						<select class="form-control s" name="cityId">
							<?=MyTags::options($citys, $params['cityId'])?>
						</select>
					</td>
					<td width="120">
						<select class=" form-control s" name="houseType">
							<option value="0">全部</option>
							<?=MyTags::options($houseTypes, $params['houseType'])?>
						</select>
					</td>
					<td>
						<button class="btn btn-gray" type="submit">搜 索</button>
						<a type="button" class="btn btn-success widthxl addmodal">
							<strong> + </strong>
							新增标签
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	{% if labellist %}
	<table class="table table-hover mt10">
		<tr>
			<th style="width: 20%;">ID</th>
			<th style="width: 30%;">标签名</th>
			<th style="width: 30%;">类型</th>
			<th style="width: 30%;">操作</th>
		</tr>
		{% for ll in labellist %}
		<tr hsId={{ ll['id'] }}>
			<td align="center">{{ ll['id'] }}</td>
			<td align="center">{{ ll['sign'] }}</td>
			<td align="center">{{ houseTypes[ll['houseType']] }}</td>
			<td align="center" class="operate">
				<div class=" arrow_tipswrap">
					<a class="widthl td_delete">删除</a>
				</div>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<table class="table table-striped table-hover mt10">
		<tr>
			<th style="width: 20%;">ID</th>
			<th style="width: 30%;">标签名</th>
			<th style="width: 30%;">操作</th>
		</tr>
	</table>
	<div class="noreascout">
		<div>
			<p>
				<strong class="font14"> 很抱歉，没有找到符合条件的标签 </strong>
			</p>
			<p class=" mt10 gray">建议您：调整搜索内容，获取更多结果</p>
		</div>
	</div>
	{% endif %}
</div>
<!-- 新增标签 -->
<div class="modal fade" id="newmodal" tabindex="-1" role="dialog"
	aria-labelledby="addnewLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 400px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h5 class="modal-title" id="addnewLabel">新增标签</h5>
			</div>
			<div class="modal-body">
				<div class="edittable">
					<div class="alert alert-warning alert-dismissible errortips"
						role="alert">
						<button type="button" class="close" data-dismiss="alert">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<strong> 提示：</strong>
						您输入的内容有误！
					</div>
					<form id="form1" onsubmit="return false" form_tittle="标签"
						method="post" action="">
						<input type="hidden" name="act" value="" />
						<table class="edittable">
							<tr class="tipsup">
								<td align="right">城市名称:</td>
								<td>
									<select class="form-control s" name="cityId">
										<?=MyTags::options($citys, $params['cityId'])?>
									</select>
								</td>
							</tr>
							<tr class="tipsup">
								<td align="right">房源类型:</td>
								<td>
									<select class=" form-control s" name="houseType">
										<?=MyTags::options($houseTypes, $params['houseType'])?>
									</select>
								</td>
							</tr>
							<tr class="tipsup">
								<td align="right">标签名称:</td>
								<td>
									<input class="form-control" type="text" name='houseSign' notnull="true" info="标签名" placeholder="最多5个汉字"  maxlength=5 />
									<em class=" required"> * </em>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success saveButton">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var menu = 'menu2';
	var moudle = 'labels';
	function initModal() {
		$("#newmodal").find("form")[0].reset();
	}

	$(function() {
		var cururl = base_url + "labels/";
		$(".saveButton").click(function() {
			_do = $("#form1").find("input[name=act]").val();
			$("#form1").ajaxSubmit({
				"url" : cururl + _do,
				"callback" : function(msg) {
					if (msg.status == 0) {
						location.reload(false);
					} else {
						$.error(msg.info);
					}
				}
			});
		});

		$(".addmodal").click(function() {
			initModal();
			$("#newmodal").smodal({
				title : "添加标签",
				act : 'add'
			});
		});


		$('.td_delete').click(
				function() {
					var hsId = $(this).parent().parent("td").parent("tr")
							.attr("hsId");
					var _this = $(this);
					_this.delConfirm("删除确认", "确定要删除吗?", function(result) {
						if (result == true) {
							$.request({
								url : cururl + "del/" + hsId + "/",
								callback : function(msg) {
									if (msg.status == 0) {
										_this.delSuccess("删除成功");
										location.reload(false);
									} else {
										_this.delFail(msg.info);
										//alert("删除失败!")
									}

								}
							});
						} else {
							//alert(2)
						}
					});
				});
	});
</script>