<script src="{{ src_url }}My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<div class="maininner">
    <h6 class="maintt"> 您的位置：<a href="/">首页</a> &gt; 城市数据字典  &gt; <strong class="font_gold"> 户型图审核 </strong> </h6>
    <style>
        .piclist li{ float:left; margin:5px 9px 5px 0; width:180px; height:188px; list-style:none; border:solid 1px #ccc; border-radius:3px; padding:9px;}
        .piclist li img{ width:160px; height:120px;display: block;}
        .piclist li .operate{ margin-top:10px;}
        .piclist li .operate a{ float:right; margin-left:5px;}
        .hoverimg .imgbig img{ width:auto; height:auto;}
    </style>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong> 提示：</strong> （每一张通过审核的图片，自动奖励经纪人 <span class=" font_red"> 10  </span> 积分）;  &nbsp; &nbsp; &nbsp;
        通过审核统计：今日<span class=" font_red"> {{ todayNum }}  </span>  &nbsp;| &nbsp;  昨日<span class=" font_red"> {{ yesterdayNum }} </span>   &nbsp;| &nbsp;  累计<span class=" font_red"> {{ allNum }}  </span>
        
    </div>


    <ul class="nav nav-tabs" role="tablist">
        <li {% if picStatus == uncheck %}class="active"{% endif %}><a href="?status={{ uncheck }}&cityId={{ cityId }}">待审核</a></li>
        <li {% if picStatus == unpass %}class="active"{% endif %}><a href="/parkpicture/index/{{ picType }}/{{ unpass }}/?cityId={{ cityId }}">审核未通过</a></li>
    </ul>
    <div class="panel panel-default search_form mb15 mt10">
        <form method="get" action="/parkpicture/newIndex/">
            <table class="search_form mb15">
                <tr>
                    <td width="120">
                        <select class="form-control" style="width:100px;" name="cityId">
                            <?=MyTags::options($citys, $cityId)?>
                        </select>
                    </td>
                    <td width="120">
                        <select class="form-control" style="width:100px;" name="distId"  onchange="getRegion('regId', 0, this.value, '板块')">
                            <option value="0">城区</option>
                            <?=MyTags::options($districts, $distId)?>
                        </select>
                    </td>
                    <td width="120">
                        <select class="form-control" style="width:100px;" id="regId" name="regId">
                            <option value="0">板块</option>
                            <?=MyTags::options($regions, $regId)?>
                        </select>
                    </td>
                    <td width="140">
                        <input class="form-control" type="text" placeholder="小区名称" name="parkName" value='{{ parkName }}' />
                    </td>
                    <td width="150">
                        <input type="text" class="form-control" placeholder="经纪人账号"  name="realAccount" value="{{ selectAccount }}">
                    </td>
                    <td width="150">
                        <select class="form-control s" name="sizeType" id="sizeTypeSelect"  >
                            <?=MyTags::options($sizeType, $selectData['sizeType'])?>
                        </select>
                    </td>
                    <td>
                        <input type="hidden" name="status" value="{{picStatus}}">
                        <button class="btn btn-gray ml20" type="submit">搜 索</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    {% if lists %}
    <div class=" well clearfix">
        <p class=" pull-left">
            <a class="selectAll" href="javascript:void(0);">全选</a>|<a class="selectOther" href="javascript:void(0);">反选</a>
            {% if picStatus == uncheck %}
            <button type="button" class="btn btn-success widthl" data-toggle="modal" data-target="#weigui"> 设为违规 </button>
            {% else %}
            <button type="button" class="btn btn-default widthl" data-toggle="modal" data-target="#weigui"> 重新审核通过 </button>
            {% endif %}
        </p>
    </div>
    <ul class="piclist clearfix">
        {% for list in lists %}
        <li data-group="{{ list['parkId'] }}">
            <input type="hidden" name="imgId" value="{{ list['imgId'] }}" class="imgId" imgId="0" >
            <input type="hidden" name="parkId" value="{{ list['parkId'] }}" class="parkId" imgId="0" >
            <a> <img width="160" height="120" alt="" src="{{ list['imgUrl'] }}"> </a>
            <div class="operate">
                <input type="checkbox" name="" class="checkBoxClass" autocomplete="off"/>
                {{ parkList[list['parkId']] }}
                <a class="hoverimg"> 大图  <div class="imgbig"><img width="600" height="450" src="{{ list['originImgUrl'] }}"></div> </a>
                <a target="_blank" href="{{ list['parkUrl'] }}">详情</a>

            </div>
            <div>
                <span>{{list['bed_room']}}室{{list['living_room']}}厅{{list['bath_room']}}卫&nbsp;{{ realAccount[list['realId']]['name'] }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class=" tcenter">
       <!-- <a class=" btn btn-success btn-lg" data-toggle="modal" data-target="#weigui"> 设为违规 </a>-->
        {% if picStatus == uncheck %}
        <button type="button" class="btn btn-success widthl" data-toggle="modal" data-target="#weigui"> 设为违规 </button>
        {% else %}
        <button type="button" class="btn btn-default widthl" data-toggle="modal" data-target="#weigui"> 重新审核通过 </button>
        {% endif %}
    </div>
    {% else %}
    <div class="noreascout">
        <div> <p>  <strong class="font14">  很抱歉，没有找到符合条件的标签  </strong></p>
            <p class=" mt10 gray"> 建议您：调整搜索内容，获取更多结果  </p></div>
    </div>
    {% endif %}
    <!--分页开始-->
{{page}}
    <!--分页结束-->

</div>
<div class="loadingDiv" style="display: none">
<div id="bgDiv" style=" top: 0;left: 0;background: #000000;opacity:0.5;z-index: 1000;width:100%;position:fixed; height: 100%;filter:alpha(style=3,opacity=25,finishOpacity=75)"></div>
<div id="loading" style="background: url('{{src_url}}images/loading.gif') no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);height: 4em;left: 50%;margin-left: -2em;margin-top: -2em;position: fixed;text-indent: -500%;top: 50%;width: 4em;">loading</div>
</div>
<script type="text/javascript">
    gotoTop();
    var menu = 'menu3';
    var moudle = 'parkpicture_{{ moudleId }}';
    var cururl = base_url + "parkpicture/";

    var all = $('.selectAll'),
        ckb_user = $('.checkBoxClass'),
        len = ckb_user.length;
    $(".piclist img ").click(function(){
        var flag = $(this).parent().parent("li").find(".checkBoxClass").prop("checked");
        var setFlag = true;
        if(flag === true){
            setFlag = false;
        }
        $(this).parent().parent("li").find(".checkBoxClass").prop("checked", setFlag);

    })
    all.click(function(){
        var flag = true;
        ckb_user.each(function(){
            $(this).prop("checked",flag);
        });
    })

    $(".selectOther").click(function(){
        ckb_user.each(function(){
            var flag = ($(this).prop("checked")==true)?false:true;;
            $(this).prop("checked",flag);
        });
    });

    //审核通过和违规
    $(".btn-success").click(function() {
        $(".loadingDiv").fadeIn();
        var imgIdsOk = [];
        var imgIdsError = [];
        $(".checkBoxClass").each(function(){
            var imgId = $(this).parent().parent().find('.imgId').val();
            var parkId = $(this).parent().parent().find('.parkId').val();

            if($(this).prop("checked")){
                imgIdsError.push(imgId + ',' + parkId) ;
            }else{
                imgIdsOk.push(imgId + ',' + parkId) ;
            }
        })
        var imgIdsErrorStr = imgIdsError.join('-');
        if(imgIdsErrorStr =="") imgIdsErrorStr = 0;
        var imgIdsOkStr   = imgIdsOk.join('-');
        if(imgIdsOkStr == "") imgIdsOkStr = 0;
        $.ajax({
            url: cururl + "auditMore/" ,
            type:"POST",
            dataType: "json",
            data:{imgIdsError:imgIdsErrorStr, imgIdsOk:imgIdsOkStr},
            success: function(msg) {
                //$(".loadingDiv").fadeOut();
                if (msg.status == 0) {
                    alert("操作成功！");
                    $('html,body').animate({ scrollTop: 0 }, 200);
                    location.reload(true);
                } else {
                    if(typeof msg.info != "undefined"){
                        alert(msg.info);
                    }else{
                        alert("操作失败,请重试");
                    }
                    $('html,body').animate({ scrollTop: 0 }, 200);
                    location.reload(true);
                }
            }
        });
    });
    //重新审核
    $(".btn-default").click(function() {
        $(".loadingDiv").fadeIn();
        var imgIdsAgain = [];
        $(".checkBoxClass").each(function(){
            var imgId = $(this).parent().parent().find('.imgId').val();
            var parkId = $(this).parent().parent().find('.parkId').val();
            if($(this).prop("checked")){
                imgIdsAgain.push(imgId + ',' + parkId) ;
            }
        })
        var imgIdsAgainStr = imgIdsAgain.join('-');
        if(imgIdsAgainStr =="") imgIdsAgainStr = 0;
        $.ajax({
            url: cururl + "auditMore/" ,
            type:"POST",
            dataType: "json",
            data:{imgIdsAgain:imgIdsAgainStr},
            success: function(msg) {
                $(".loadingDiv").fadeOut();
                if (msg.status == 0) {
                    alert("操作成功！");
                    $('html,body').animate({ scrollTop: 0 }, 200);
                    location.reload(true);
                } else {
                    if(typeof msg.info != "undefined"){
                        alert(msg.info);
                    }else{
                        alert("操作失败,请重试");
                    }
                    $('html,body').animate({ scrollTop: 0 }, 200);
                    location.reload(true);
                }
            }
        });
    });
    var ajaxcururl = base_url + "ajax/";
    $("select[name='cityId']").change(function(){
        var cityId = $(this).val();
        $.ajax({
            url: ajaxcururl + "getDistByCityId/" + cityId + "/",
            dataType: "json",
            success: function(msg) {
                if (msg.status == 0) {
                    var html = '<option value="0" selected="">城区</option>';
                    var data = msg.data;
                    for (var dist in data ){
                        html += '<option value="'+dist+'">'+data[dist]+'</option>';
                    }
                    $("select[name='districtId']").html(html);
                } else {
                }
            }
        });
    });

    $("#sizeTypeSelect").change(function(){
        $("#sizeType").val($(this).val());
        $("#searchForm").submit();
    })
//
//    Array.prototype.unique3 = function(){
//        var res = [];
//        var json = {};
//        for(var i = 0; i < this.length; i++){
//            if(!json[this[i]]){
//                res.push(this[i]);
//                json[this[i]] = 1;
//            }
//        }
//        return res;
//    }
</script>