  <table class="table table-hover mt10" border=1>
                <tr>
					<th rowspan="2" style="min-width:126px;">门店名称</th>
                    <th rowspan="2" style="min-width:126px;">姓名</th>
                    <th rowspan="2" style="min-width:107px;">帐号</th>
                    <th rowspan="2" style="min-width:57px;">端口数</th>
                    <th style=" padding:0 10px;" colspan="2">发布房源</th>
                    <th style=" padding:0 10px;" colspan="2">精品房源</th>
                    <th style=" padding:0 10px;" colspan="2">标签房源</th>
                    <th style=" padding:0 10px;" colspan="2">刷新数量</th>
                    <th rowspan="2" style="min-width:47px;">点击量</th>
					<th rowspan="2" style="min-width:47px;">上级区域</th>
					<th rowspan="2" style="min-width:47px;">公司</th>
                </tr>
                <tr>
                    <th style="min-width:43px; padding:0 10px;">已发布</th>
                    <th style="min-width:36px; padding:0 10px;">比例</th>
                    <th style="min-width:44px; padding:0 10px;">已设置</th>
                    <th style="min-width:36px; padding:0 10px;">比例</th>
                    <th style="min-width:42px; padding:0 10px;">已设置</th>
                    <th style="min-width:34px; padding:0 10px;">比例</th>
                    <th style="min-width:42px; padding:0 10px;">已刷新</th>
                    <th style="min-width:34px; padding:0 10px;">比例</th>
                </tr>
                {% for one in list%}
                <tr>
					<td> {{ selectReal[one['realId']]['shopName']}}</td>
                    <td> {{ selectReal[one['realId']]['name']}}</td>
                    <td> {{ selectReal[one['realId']]['accountName']}}</td>
                    <td> {{ one['portEquivalent']}}</td>
                    <td> {%if selectData['type']==1%}{{one['saleValid']}}{%else%}{{one['rentValid']}}{%endif%}</td>
                    <td> {%if selectData['type']==1%}{{one['saleReleaseScale']}}{%else%}{{one['rentReleaseScale']}}{%endif%}</td>
                    <td> {%if selectData['type']==1%}{{one['saleBold']}}{%else%}{{one['rentBold']}}{%endif%}</td>
                    <td> {%if selectData['type']==1%}{{one['saleBoldScale']}}{%else%}{{one['rentBoldScale']}}{%endif%}</td>
                    <td> {%if selectData['type']==1%}{{one['saleTags']}}{%else%}{{one['rentTags']}}{%endif%}</td>
                    <td> {%if selectData['type']==1%}{{one['saleTagsScale']}}{%else%}{{one['rentTagsScale']}}{%endif%}</td>
                    <td> {%if selectData['type']==1%}{{one['saleRefresh']}}{%else%}{{one['rentRefresh']}}{%endif%}</td>
                    <td> {%if selectData['type']==1%}{{one['saleRefreshScale']}}{%else%}{{one['rentRefreshScale']}}{%endif%}</td>
                    <td> {%if selectData['type']==1%}{{one['saleClick']}}{%else%}{{one['rentClick']}}{%endif%}</td>
					<td> {{ selectReal[one['realId']]['areaName']}}</td>
					<td> {{ selectReal[one['realId']]['comName']}}</td>
                </tr>
                {% endfor %}
            </table>