<table class="table table-hover mt10">
    <tr>
        <th>公司名称</th>
        <th>门店名称</th>
        <th>姓名</th>
        <th>账号</th>
        <th>端口数</th>
        <th>房源总数</th>
        <th>是否违规</th>
        <th>违规房源次数</th>
        <th>启用时间</th>
        <th>到期时间</th>
    </tr>
    {% for one in list %}
    <tr>
        <td align="center">{{one['companyName']}}</td>
        <td>{{one['shopName'] }}</td>
        <td>{{ one['realName'] }}</td>
        <td align="center">{{one['accountName'] }}</td>
        <td align="center">{{one['portNum'] | default(0)}}</td>
        <td align="center">{{one['houseNum'] | default(0)}}</td>
        <td align="center">{{one['isWeigui'] }}</td>
        <td align="center">{{one['weiguiNum'] | default(0)}}</td>
        <td align="center">{{one['startTime'] | default("########")}}</td>
        <td align="center">{{one['endTime'] | default("########")}}</td>
    </tr>
    {% endfor %}
</table>


