/** * global style * 包含重置声明、公用组件和模块 * 创建时间：2014-03-31 by Ice */ /* reset declare */ body,div,img,h1,h2,h3,h4,h5,h6,p,a,dt,dd,dl,ul,ol,li,i,em,table,th,td,caption,hr,input,select,button,textarea,address,strong,cite,fieldset,legend,blockquote,form,marquee,iframe{ 
	margin:0; padding:0; outline:none; 
}
strong,em,b,input,select,button,textarea,h1,h2,h3,h4,h5,h6,th,caption,address,fieldset,legend,blockquote,cite,i,q{ 
	font-size:100%; font-family:inherit; font-style:normal; font-weight:normal; 
}
s, strike, del{	text-decoration:none;}
html{ margin:0; padding:0; border:0 }
body,button,input,select,textarea{ color:#222222; font:12px/1.5 Tahoma, Arial, \5b8b\4f53, \5fae\8f6f\96c5\9ed1; -webkit-text-size-adjust:none }
body{ background-color:#ffffff; }
table{ border-collapse:collapse; border-spacing:0 }
img,button,fieldset{ border:0; }
caption,th{ text-align:left }
table{ border-collapse:collapse; border-spacing:0; }
ol,ul,li{ list-style:none; }
textarea{ resize:none; }
input[type="reset"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="file"]::-moz-focus-inner, 
button::-moz-focus-inner{ border:none; padding:0; }
blockquote:before,blockquote:after,q:before,q:after{ content:'' }
blockquote,q{ quotes:"""" }
/* link */ 
a{ color:#0041d9; cursor:pointer; text-decoration:none; }
a:hover{ color:#cd0200; text-decoration:underline; }
a:active, a:focus,input{-moz-outline:none;outline:none;ie-dummy:expression(this.hideFocus=true);} 
/* font */ 

.ellipsis{ overflow:hidden; text-overflow:ellipsis; -webkit-text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;}

.f12{ font-size:12px; }
.f14{ font-size:14px; }
.f16{ font-size:16px; }
.f18{ font-size:18px; }
.f22{ font-size:22px; }
.f_yahei{ font-family:\5fae\8f6f\96c5\9ed1; }
.unl{ text-decoration:underline; }
a.no_unl, a.no_unl:hover{ text-decoration:none; }
.c_txt1{ color:#222222; }
.c_txt2{ color:#666666; }
.c_txt3{ color:#999999; }
.c_txt4{ color:#aeaeae; }
.c_txt5{ color:#d70000; }
.c_txt6{ color:#0041d9; }
.c_txt7{ color:#cd0200; }
.c_txt8{ color:#328c39; }
.c_txt9{ color:#035fa7; }
.c_txt10{ color:#008c00; }
/* position */ 
.fl{ float:left; }
.fr{ float:right; }
.clearfix{ clear:both; display:block; zoom:1; height:auto; }
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
.vm{ vertical-align:middle; }
.pr{ position:relative; }
.pa{ position:absolute; }
.abs_right{ position:absolute; right:0; }
.zindex{ z-index:2; }
.zoom{ zoom:1; }
.hidden{ visibility:hidden; }
.none{ display:none; }
.dib{ display:inline-block; }
.block{ display: block;}

/* width and height */ 
.w{ width:100%; }
.h{ height:100%; }
.pct50{ width:50%; }
/* margin and padding */ 
.mt5{ margin-top:5px; }
.mt8{ margin-top:8px; }
.ml10{ margin-left:10px;}
.mt10{ margin-top:10px; }
.mt15{ margin-top:15px; }
.mr10{ margin-right:10px; }
.mr12{ margin-right:12px; }
.mr15{ margin-right:15px; }
.ml5{ margin-left:5px; }
.tb{ vertical-align:bottom;}
/* arrow */ 

.arrow_down_a, 
.arrow_down_b{ 
	background-image:url(../img/icon.png); 
	_background-image:url(../img/icon.gif); 
	background-repeat:no-repeat; 
	display:inline-block; 
	font-size:0; 
	line-height:none; 
	overflow:hidden; 
	vertical-align:middle; 
}
.arrow_down_a{ background-position:-330px -351px; }
.arrow_down_b{ background-position:-350px -351px;  height:4px; width:10px; }

/* background and border */ 
.dot3{ background-color:#035fa7; display:inline-block; font-size:0; height:3px; width:3px; }
.xdotline{ background:url(../img/xdotline.gif) repeat-x left center; height:1px; line-height:1px; font-size:0; overflow:hidden; }
.xdashline{ border-top:1px dashed #d6d6d6; height:1px; line-height:1px; font-size:0; overflow:hidden; }
/* layout */ 
.wrap{ margin-left:auto; margin-right:auto; width:1000px; }
.main{ float:left; width:740px; }
.sidebar{ float:right; width:250px; }

/* css sprite declare */ 
/* sort by */ 
.icon_sort_down{ background-position:-260px -397px; height:10px; width:10px;}
.icon_sort_down.active{ background-position:-260px -428px;}
.icon_sort_up{ background-position:-260px -387px; height:10px; width:10px;}
.icon_sort_up.active{ background-position:-260px -417px;}
.icon_rz{ background-position:-400px -310px; width:15px; height:14px; }
.icon_yz{ background-position:-435px -310px; width:14px; height:14px; }
/* share */ 
.icon_share{ background:url(../img/icon_share.png) no-repeat 0 0; display:inline-block; vertical-align:middle; height:16px; width:16px; }
.icon_sohu{ background-position:0 0; }
.icon_sina{ background-position:0 -26px; }
.icon_qq{ background-position:0 -52px; }
.icon_netease{ background-position:0 -78px; }
.icon_qzone{ background-position:0 -104px; }
.icon_renren{ background-position:0 -130px; }
.icon_kaixin{ background-position:0 -156px; }
.icon_weixin{ background-position:0 -182px; }
/* rise and fall icon */ 
.icon_rise{ background-position:-280px -386px; height:10px; width:11px; }
.icon_fall{ background-position:-280px -398px; height:10px; width:11px; }
/* house tag */ 
.tag{ background:url(../img/tag.png) no-repeat 100% 0; display:inline-block; height:22px; line-height:20px; vertical-align:middle; overflow:hidden; padding-right:7px; }
.tag_inner{ display:inline-block; background:url(../img/tag.png) no-repeat 0 0; float:left; height:22px; width:7px; }
.tag_a{ background-position:100% 0; color:#009f25; }
.tag_a .tag_inner{ background-position:0 0; }
.tag_b{ background-position:100% -31px; color:#ff7800; }
.tag_b .tag_inner{ background-position:0 -31px; }
.tag_c{ background-position:100% -62px; color:#00a8a8; }
.tag_c .tag_inner{ background-position:0 -62px; }
.tag_d{ background-position:100% -93px; color:#c0392b; }
.tag_d .tag_inner{ background-position:0 -93px; }
.tag_e{ background-position:100% -124px; color:#0072ff; }
.tag_e .tag_inner{ background-position:0 -124px; }
.tag_f{ background-position:100% -155px; color:#8e44ad; }
.tag_f .tag_inner{ background-position:0 -155px; }
.tag_g{ background-position:100% -186px; color:#0052a3; }
.tag_g .tag_inner{ background-position:0 -186px; }
.tag_h{ background-position:100% -217px; color:#fe0000; }
.tag_h .tag_inner{ background-position:0 -217px; }
.tag_i{ background-position:100% -248px; color:#cd409b; }
.tag_i .tag_inner{ background-position:0 -248px; }
.tag_auto{ background-position:100% -279px; color:#1369c0; }
.tag_auto .tag_inner{ background-position:0 -279px; }
/* rent tag */ 
.rent_tag{ background:url(../img/renttag.png) no-repeat 100% 0; display:inline-block; height:21px; line-height:20px; vertical-align:middle; overflow:hidden; padding-right:7px; }
.rent_tag_inner{ display:inline-block; background:url(../img/renttag.png) no-repeat 0 0; float:left; height:21px; width:7px; }
.rent_tag_a{ background-position:100% 0; color:#00bc12; }
.rent_tag_a .rent_tag_inner{ background-position:0 0; }
.rent_tag_b{ background-position:100% -31px; color:#ed9c28; }
.rent_tag_b .rent_tag_inner{ background-position:0 -31px; }
.rent_tag_c{ background-position:100% -62px; color:#4792ff; }
.rent_tag_c .rent_tag_inner{ background-position:0 -62px; }
.rent_tag_d{ background-position:100% -93px; color:#ad68d7; }
.rent_tag_d .rent_tag_inner{ background-position:0 -93px; }
.rent_tag_e{ background-position:100% -124px; color:#9b4400; }
.rent_tag_e .rent_tag_inner{ background-position:0 -124px; }
.rent_tag_f{ background-position:100% -155px; color:#e6727a; }
.rent_tag_f .rent_tag_inner{ background-position:0 -155px; }
/* mini nav */ 
.mini_nav{ border-bottom:1px solid #e1e1e1; color:#666666; height:25px; line-height:25px; margin-bottom:10px; position:relative; }
.mini_nav_l a, .quick_link a{ color:#666666; }
.mini_nav a:hover{ color:#cd0200; }

.mini_nav .s_line{ color:#666666; margin:0 15px; }
.mini_nav .login_before .s_line{ margin:0; }
.mini_nav .quick_link .s_line{ margin-right:0; }
.mini_nav .quick_link a:hover{ color:#666666; text-decoration:none; }
.mini_nav .quick_link .bd{ background-color:#ffffff; border-color:#e1e1e1; border-style:solid; border-width:0 1px 1px 1px; display:none; right:0; position:absolute; top:25px; z-index:1001; }

.mini_nav .login .hd, .mini_nav .register .hd{ width:72px; }
.mini_nav .focus_tong .hd{ width:92px; }
.mini_nav .user_center .hd{ width:102px; }

.mini_nav .quick_link .hd a{ border-color:#ffffff; border-style:solid; border-width:1px 1px 0 1px; display:block; height:24px; line-height:24px;	 padding-left:20px; text-align:left; }
.mini_nav .quick_link .hd .hover{ background-color:#fff; background-image:none; border-color:#e1e1e1; cursor:pointer; text-decoration:none; }
.mini_nav .quick_link .hd s{ position:absolute; right:15px; top:12px; }
.mini_nav .quick_link .bd a{ display:block; height:24px; line-height:24px; padding-left:20px; text-align:left; }

.mini_nav .login .bd a, .mini_nav .register .bd a{ width:50px; }
.mini_nav .focus_tong .bd a{ width:70px; }
.mini_nav .user_center .bd a{ width:80px; }
.mini_nav .quick_link .bd a:hover{ background-color:#f4f4f4; }
/* footer */ 
.footer{ color:#333333; line-height:1.833; text-align:center; }
.footer a{ color:#333333; }
/* header */ 
.header_line{ height:3px; line-height:3px; font-size:0; background-color: #1369c0; z-index:0; -moz-box-shadow:0 1px 0 rgba(235,235,235,1); -webkit-box-shadow:0 1px 0 rgba(235,235,235,1); -o-box-shadow:0 1px 0 rgba(235,235,235,1); box-shadow:0 1px 0 rgba(235,235,235,1);}
.header_search{ margin-bottom:20px; }
.header_logo{  height:50px; margin-right:28px; width:178px;}
.header_logo a{ display:block; height:100%; width:100%;background:url(../img/esf_logo.png) no-repeat left center; }
.header_city{ margin-top:16px; position:relative; z-index:9; }
a.select_city{ color:#666666; font-size:16px; text-decoration:none; width:70px; }
a.select_city em{ margin-left:8px; }
.select_city_panel{	 background-color:#ffffff; border:1px solid #b8d2ec; left:-15px; padding:6px 15px; position:absolute; top:30px; width:210px; z-index:10; }
.select_city_panel a{ display:block; float:left; line-height:2.5; width:68px; }
/* global search */ 
.global_search{ font-size:0; margin-top:12px; -webkit-text-size-adjust:none; position:relative;}
.global_search_input{ background:url(../img/icon.png) no-repeat 0 -526px; border:0; color:#222222; font-size:14px; height:36px; line-height:36px; overflow:hidden; padding:0 35px 0 10px; vertical-align:middle; width:315px; z-index:100; }
.global_search_input.input_default{ background-position:0 -480px; }
.global_search_btn{ background:url(../img/icon.png) no-repeat 0 0; border:0 none; cursor:pointer; color:#ffffff; font:normal 700 14px/36px \5b8b\4f53; height:36px; line-height:28px; overflow:hidden; vertical-align:middle; width:120px; z-index:100; }
.global_search_btn:hover{ color:#fff;}
.global_search .focus{ background-position:0 -526px;}
.global_search .hover{ background-position:-130px 0; }
.global_search .icon_clear{ position:absolute; left:334px; top:50%; margin-top:-8px; display:none; }
.global_search .autocomplete{ left:0; top:36px; width:359px; z-index:99; }
/* search_box_s width is 220px ,input width is 168px and padding-lr 8px, btn width is 36px, autocomplete width is 219px */ /* search_box_l width is 270px ,input width is 214px and padding-lr 8px, btn width is 40px, autocomplete width is 269px */ 
.search_box_s .search_txt, 
.search_box_l .search_txt{ 
border-color:#b8d2ec; border-style:solid; border-width:1px 0 1px 1px; color:#aeaeae; height:28px; line-height:28px; padding:0 8px; }
.search_box_s .search_btn, 
.search_box_l .search_btn{ 
background-color:#1369c0; background-image:url(../img/icon.png); _background-image:url(../img/icon.gif); background-repeat:no-repeat; border:0; cursor:pointer; height:30px; text-indent:-99em; }
.search_box_s .hover, 
.search_box_l .hover{ background-color:#0057ae; }
.search_box_s .icon_clear, 
.search_box_l .icon_clear{ position:absolute; top:50%; margin-top:-8px; padding:0; display:none; }
.search_box_s .autocomplete, 
.search_box_l .autocomplete{ left:0; top:30px; z-index:99; }
.search_box_s .focus, 
.search_box_l .focus{ border-color:#1369c0; color:#222222; }
.search_box_s .search_txt{ width:168px; }
.search_box_l .search_txt{ width:214px; }
.search_box_s .search_btn{ background-position:-160px -386px; width:36px; }
.search_box_l .search_btn{ background-position:-157px -386px; width:40px; }
.search_box_s .icon_clear{ left:160px; }
.search_box_l .icon_clear{ left:205px; }
.search_box_s .hover{ background-position:-210px -386px; }
.search_box_l .hover{ background-position:-207px -386px; }
.search_box_s .autocomplete{ width:219px; }
.search_box_l .autocomplete{ width:269px; }
/* search autocomplete */ 
.autocomplete{ background-color:#ffffff; border-color:#d6d6d6; border-style:solid; border-width:0 1px 1px; overflow:auto; position:absolute; }
.autocomplete li a, .top_filter_item .autocomplete li a{ color:#222222; display:block; float:none; font-size:14px; height:36px; line-height:36px; padding:0 10px; }
.autocomplete li a:hover{ background-color:#f6f6f6; color:#222222; text-decoration:none; }
.autocomplete li .count{ color:#999; float:right; text-align:right}

.ac-results{ background-color:#ffffff; border-color:#d6d6d6; border-style:solid; border-width:0 1px 1px; overflow:auto; width:269px;}
.ac-results li{ color:#222222; display:block; float:none; font-size:14px; height:36px; line-height:36px; padding:0 10px; }
.ac-results li:hover{ background-color:#f6f6f6; color:#222222; text-decoration:none; }

/* main nav */ 
.main_nav{ background:url(../img/navbg.png) repeat-x left top; height:42px; margin-bottom:12px; position:relative; }
.main_nav_list{ border-bottom:3px solid #1369c0; position:absolute; top:0; width:100%; }
.main_nav_list li{ background:url(../img/line1.png) no-repeat right center; float:left;}
.main_nav_list li a{ color:#222222; display:block; font-size:14px; font-weight:700; height:37px; line-height:37px; text-align:center; width:120px; position:relative; }
.main_nav_list li a:hover{ text-decoration:none;}
.main_nav_list li a.on{ background:#1369c0 none; color:#ffffff; margin-left:-1px; padding-left:1px; }
.main_nav_list li a.on:hover{ color:#ffffff; background:#1369c0 none; border-color:#1369c0; }
.main_nav_list li.first a{ -moz-border-radius-topleft:1px; -webkit-border-top-left-radius:1px; border-top-left-radius:1px; }
.main_nav_list li.first a:hover, .main_nav_list li.first a.on{ margin-left:0; padding-left:0; }
/* bread nav */ 
.bread_nav{ font-size:13px; font-family:\5b8b\4f53; line-height:1.384; margin-bottom:12px; }
/* pic size */ 
.pic_size1, .pic_size1 img{ height:68px; overflow:hidden; width:90px; }
.pic_size2, .pic_size2 img{ height:100px; overflow:hidden; width:133px; }
.pic_size3, .pic_size3 img{ height:120px; overflow:hidden; width:160px; }
/* pages */ 
.pages{ line-height:24px; padding-left:15px; }
.pages_nav{ font-size:0; -webkit-text-size-adjust:none;}
.pages_nav span, .pages_nav a{ display:inline-block; font-size:12px; height:24px; line-height:24px; margin-left:5px; text-align:center; text-decoration:none; vertical-align:top; }
.pages_nav .num, .pages_nav .pre, .pages_nav .next{ border:1px solid #d6d6d6; color:#222222; cursor:pointer; }
.pages_nav a:hover{ border-color:#1369c0; color:#222222; text-decoration:none; }
.pages_nav .total{ border-width:0; margin-right:10px; }
.pages_nav .num{ width:24px; }
.pages_nav .on{ background-color:#1369c0; border-color:#1369c0; color:#ffffff; cursor:text; font-weight:700; }
.pages_nav .pre{ padding-right:5px; width:60px;}
.pages_nav .next{ border-color:#1369c0; color:#1369c0; width:90px;}
.pages_nav .pre em, .pages_nav .next em{ border-width:5px; border-style:solid; display:inline-block; font-size:0; height:0; line-height:0; width:0; }
.pages_nav .pre em{ border-color:#ffffff #b2b2b2 #ffffff #ffffff; margin:7px 3px 0 5px; float:left;}
.pages_nav .next em{ border-color:#ffffff #ffffff #ffffff #1369c0; margin:7px 15px 0 -17px; float:right;}
.pages_nav .next:hover, .pages_nav .pre:hover{ background-color:#1369c0; color:#ffffff; }
.pages_nav .next:hover em{ border-color:#1369c0 #1369c0 #1369c0 #ffffff; }
.pages_nav .pre:hover em{ border-color:#1369c0 #ffffff #1369c0 #1369c0; }
.pages_nav .pre_disable, .pages_nav .pre_disable:hover, .pages_nav .next_disable, .pages_nav .next_disable:hover{ background-color:#f6f6f6; border-color:#efefef; color:#aeaeae; cursor:text; }
.pages_nav .pre_disable em, .pages_nav .pre_disable:hover em{ border-color:#f6f6f6 #aeaeae #f6f6f6 #f6f6f6; }
.pages_nav .next_disable em, .pages_nav .next_disable:hover em{ border-color:#f6f6f6 #f6f6f6 #f6f6f6 #aeaeae; }
/* --- global module --- */ 
/* sidebar house text list1 */ 
.sidebar_mod{ border:1px solid #b8d2ec; margin-bottom:10px; }
.sidebar_mod_hd{ background-color:#f2f9ff; border-color:#b8d2ec; border-style:solid; border-width:0 0 1px 0; height:34px;	 line-height:34px; padding:0 15px; }
.sidebar_mod_hd *{ line-height:34px;}
.sidebar_mod_hd .more{ font-family:\5b8b\4f53; font-size:12px; }
.sidebar_mod_con{ padding:6px 13px; position:relative; background-color:#fff; }
/* quick search */ 
.sidebar_tab{ border-width:1px 0 0 0; }
.sidebar_tab .sidebar_mod_hd{ background-color:#ffffff; border-width:0 1px 0 1px; padding:0; }
.sidebar_tab .sidebar_mod_con{ border-color:#b8d2ec; border-style:solid; border-width:0 1px 1px 1px; }
.sidebar_tab .tab{ border-bottom:2px solid #b8d2ec; text-align:center; width:123px; }
.sidebar_tab .tab a{ color:#222222; display:block; height:32px;	 line-height:32px; position:relative; }
.sidebar_tab .tab a:hover{ color:#222222; text-decoration:none; }
.sidebar_tab .on{ background-color:#f2f9ff; font-weight:bold;}
.sidebar_tab .on a.tab_l{ border-right:1px solid #b8d2ec; }
.sidebar_tab .on .tab_r{ border-left:1px solid #b8d2ec; }
.sidebar_tab .tab em{ border-width:4px; border-style:solid; border-color:#b8d2ec #ffffff #ffffff #ffffff; bottom:-10px; display:inline-block; font-size:0; height:0; left:50%; line-height:0; margin-left:-2px; overflow:hidden; position:absolute; visibility:hidden; width:0; }
.sidebar_tab .on em{ visibility:visible; }
.sidebar_quick_search .sidebar_mod_con{ border-width:0; padding:0; }
.sidebar_quick_search_a{ border-color:#b8d2ec; border-style:solid; border-width:0 1px 1px; padding:10px 15px; }
.sidebar_quick_search_a dl{ line-height:2.083; margin-bottom:5px; }
.sidebar_quick_search_a dd a{ color:#035fa7; display:inline-block; margin:0 11px 0 0; white-space:nowrap; }
.sidebar_quick_search_a dd a:hover{ color:#cd0200; }
.sidebar_quick_search_b{ margin-top:-1px; padding:10px; }
.sidebar_quick_search_b a{ background-color:#ffffff; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #dcdcdc; color:#666666; display:inline-block; float:left; height:62px; margin:10px 9px; width:55px; text-align:center; }
.sidebar_quick_search_b a:hover{ border-color:#ff6600; color:#666666; text-decoration:none; }
.sidebar_quick_search_b em{ display:block; margin:10px auto 8px auto; }
/* viewed house */ 
.house_viewed .sidebar_mod_con{ padding-top:7px; }
.house_txtlist1 li{ line-height:2.166; letter-spacing:-5px; word-spacing:-5px; }
.house_txtlist1 li span{ display:inline-block; font-size:12px; letter-spacing:0; vertical-align:middle; height:26px; overflow:hidden;}
.house_txtlist1 li a{ text-decoration:none; }
.house_txtlist1 li a:hover span{ cursor:pointer; text-decoration:underline; }
.house_txtlist1 .col1{ text-align:left; margin-right: 10px; width:110px; }
.house_txtlist1 .col2{ text-align:left; width:40px; }
.house_txtlist1 .col3{ text-align:right; width:60px; }
/* hot house */ 
.sidebar_hot_house .sidebar_mod_con{ padding-top:10px; }
.sidebar_hot_house dl{ overflow:hidden; }/* 20140506 delete margin-bottom:7px */
.sidebar_hot_house dt{ float:left; margin-right:12px; }
.sidebar_hot_house dd{ font-size:14px; float:left; width:120px; }
.sidebar_hot_house dd p{ height:24px; line-height:24px; width:100%;}
/* side hot community */ 
.sidebar_hot_community .sidebar_mod_con{ padding-top:10px; }
.sidebar_hot_community dl{ height:68px; margin-bottom:7px; overflow:hidden; }
.sidebar_hot_community dt{ float:left; margin-right:12px; }
.sidebar_hot_community dd{ font-size:14px; line-height:1.714; }
.sidebar_hot_community_txtlist li{ line-height:2.166; letter-spacing:-5px; word-spacing:-5px; }
.sidebar_hot_community_txtlist li a{ text-decoration:none; }
.sidebar_hot_community_txtlist li a:hover span{ cursor:pointer; text-decoration:underline; }
.sidebar_hot_community_txtlist li span{ display:inline-block; font-size:12px; letter-spacing:0; vertical-align:middle; height:26px; overflow:hidden;}
.sidebar_hot_community_txtlist .l{ text-align:left; overflow:hidden; width:150px;}
.sidebar_hot_community_txtlist .r{ text-align:left; overflow:hidden; }
/* hot shop guide */ 
.sidebar_hot_shop_guide .sidebar_mod_con{ padding-top:5px; }
.sidebar_hot_shop_guide li{ height:30px; line-height:30px; overflow:hidden; width:222px; }
.sidebar_hot_shop_guide li .dot3{ float:left; margin:14px 10px 0 0; }
/* hot search */ 
.sidebar_hot_search .sidebar_mod_con{ padding-top:5px; }
.sidebar_hot_search li{ height:30px; line-height:30px; overflow:hidden; width:222px; }
.sidebar_hot_search li .dot3{ float:left; margin:14px 10px 0 0; }
/* feedback */ 
.sidebar_feedback .sidebar_mod_con{ padding:0; }
.sidebar_feedback textarea{ background-color:#ffffff; border:none; color:#999999; font-size:14px; height:123px; overflow-y:auto; padding:10px 15px; width:218px; }
.sidebar_feedback_ft{ border-top:1px solid #b8d2ec; line-height:34px; padding:0 10px 0 15px; }
.sidebar_feedback_ft .form-row{ height:36px;}
/* buy tools */ 
.buy_tools .sidebar_mod_con{ padding:0; }
.buy_tools_list{ padding:20px 0 15px 3px; }
.buy_tools_list a{ color:#666666; display:inline-block; float:left; padding:0 5px; text-align:center; width:50px; }
.buy_tools_list a:hover{ color:#666666; text-decoration:none; }
/* top search filter */ 
.top_filter_tab{ border-bottom:1px solid #b8d2ec; height:29px; position:relative; }
.top_filter_tab ul{ top:0; position:absolute; width:100%; }
.top_filter_tab li{ float:left; font-size:14px; margin-right:3px; vertical-align:middle; }
.top_filter_tab li a{ background-color:#f2f9ff; border:1px solid #b8d2ec; cursor:pointer; color:#222222; display:block; height:28px; line-height:28px; text-align:center; width:100px; }
.top_filter_tab li a:hover{ background-color:#ffffff; color:#222222; text-decoration:none; }
.top_filter_tab li.on a, 
.top_filter_tab li.on a:hover{ background-color:#ffffff; border-width:1px 1px 0 1px; border-color:#1369c0 #b8d2ec transparent #b8d2ec; padding-bottom:1px; font-weight:bold; }
.top_filter_tab li.map{ color:#035fa7; width:110px; }
.top_filter_tab li.map em{ vertical-align:text-bottom; }
.top_filter_con{ border-style:solid; border-width:0 1px 1px 1px; border-color:#b8d2ec; font-size:13px; _font-size:12px; padding:7px 0 0; }
.top_filter_item{ line-height:28px; margin:0 7px 4px 7px; padding:0 7px; }
.top_filter_item dt{ float:left; text-align:left; width:50px; }
.top_filter_item dd{ float:left; width:918px; }
.top_filter_item dd a{ display:inline-block; padding:0 14px 0 0; vertical-align:top; white-space:nowrap;}
.top_filter_item dd.rent a{ padding-right:10px;}
.top_filter_item .selected{ color:#d70000; font-weight:700; }

.top_filter_item .area{ position:relative; margin-left:-7px; z-index:2; height:28px; overflow:hidden;}
.top_filter_item .area a, .top_filter_item .subarea a{ padding:0 7px;}
.top_filter_item .area .on{ background-color:#fffffa; border-width:1px 1px 0 1px; border-style:solid; border-color:#f7dcba; }
.top_filter_item .subarea{ line-height:24px; margin-top:-1px; padding:3px 0 3px 5px; position:relative; }
.top_filter_item .subarea a{ vertical-align:middle; margin-right:10px; }
.top_filter_item .subarea a:hover{ text-decoration:underline; }
.top_filter_item .subarea b{ display:inline-block; color:#d80100; font-family:Arial; font-weight:normal; vertical-align:middle; }

.input_box{ display:inline-block; position:relative; z-index:999;}
textarea.focus{ border-color:#1369c0;}
.input_data{ background-color:#ffffff; border:1px solid #b8d2ec; display:inline-block; height:22px; line-height:22px; padding:0 2px; vertical-align:middle; width:44px; }
.input_box input.focus{ border-color:#1369c0;}
.top_filter_more{ background-color:#f2f9ff; border-top:1px solid #b8d2ec; line-height:24px; padding:5px 15px; }
.top_filter_more .item_drop{ float:left; margin-right:10px; position:relative; z-index:10; }
.top_filter_more .item_drop_btn{ background-color:#ffffff; border:1px solid #accbe9; color:#222; cursor:pointer; height:22px; line-height:22px; padding:0 7px; position:relative; width:70px; }
.top_filter_more .item_drop_btn em{ position:absolute; right:5px; top:50%; margin-top:-2px; }
.top_filter_more .item_drop_list{ background-color:#ffffff; border:1px solid #b8d2ec; left:0; position:absolute; top:23px; width:84px; }
.top_filter_more .item_drop_list li{ height:24px; overflow:hidden;}
.top_filter_more .item_drop_list li a{ border-style:solid; border-width:1px 0; border-color:#ffffff; color:#222222; display:block; height:22px; line-height:22px; padding:0 7px; text-decoration:none; }
.top_filter_more .item_drop_list li a:hover{ background-color:#f2f9ff; border-color:#b8d2ec; }
.top_filter_more .item_drop_list li.first a:hover{ border-top-color:#eef5fb; }
.top_filter_more .item_drop_list li.last a:hover{ border-bottom-color:#eef5fb; }
.top_filter_feature{ background-color:#f2f9ff; padding-top:10px; padding-bottom:7px; }

.company_drop .item_drop_btn{ width:140px;}
.company_drop .item_drop_list{ width:154px;}

.CheckBoxClass,.RadioClass{ display:none; }
.CheckBoxLabelClass{ background:url(../img/icon.png) no-repeat -630px -480px; display:inline-block; height:16px; float:left; padding-left:23px; color:#222222; margin:8px 20px 8px 0; width:65px; line-height:14px; cursor:pointer; }
.CheckBoxLabelHover{ background-position:-630px -500px; }
.LabelSelected{ background-position:-630px -520px; color:#222222; font-weight:normal; }
/* tips */ 
.tips{ background:url(../img/icon.png) no-repeat -250px -279px; _background-image:url(../img/icon.gif); color:#ffffff; height:35px; left:0; line-height:30px; padding:0 10px; position:absolute; top:-38px; width:118px; }
.tips a{ position:absolute; right:-5px; top:10px; cursor:pointer; padding:0 15px 0 0; }
.global_search .tips{ background-position: -250px -180px; font-size:12px; width:154px; padding:0 0 0 9px;}
/* tab */ 
.tab_box{ background-color:#ffffff; border-color:#b8d2ec; border-style:solid; border-width:0 1px 1px; }
.tab_nav{ background-color:#ffffff; border-color:#b8d2ec; border-style:solid; border-width:1px 0; height:34px; position:relative; }
.tab_nav .more{ position:absolute; right:15px; line-height:34px; font-family:\5b8b\4f53;}
.tab_nav_list{ position:absolute; top:-1px; left:-1px; width:100%; }
.tab_nav_item{ float:left; }
.tab_nav_item a{ color:#666666; display:inline-block; font-size:12px; height:34px; line-height:33px; overflow:hidden; padding:2px 15px 0 15px; text-decoration:none; vertical-align:top; }
.tab_nav_item a:hover{ text-decoration:none; padding:2px 14px 0 14px; }
.tab_nav_list .on{ background-color:#ffffff; border-top:2px solid #1369c0; font-size:14px; font-weight:700; overflow:hidden; }
.tab_nav_list .on a{ border-color:#b8d2ec; border-style:solid; border-width:0 1px; color:#1369c0; padding:0 14px; text-decoration:none; }
.tab_nav_list .on a:hover{ padding-top:0;}
.tab_nav_list .first a{ border-left-color:#b8d2ec; }
/* footer hot community */ 
.hot_community_list{ height:215px; overflow:hidden; padding:7px 0 7px 15px; }
.hot_community_list_pic li{ cursor:pointer; float:left; font-size:14px; line-height:26px; padding:8px 17px 4px 17px; position:relative; width:160px; height:206px;}
.hot_community_list_pic li.hover{ background-color:#f2f9ff; background-image:none; border:none;}
.hot_community_list_pic li a{ display:block; left:0; position:absolute; top:0; z-index:1; background:url(../img/blank.gif) repeat left top; width:194px; height:218px;}
.hot_community_list_pic li p{ width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;}
.hot_community_list_txt{ padding-top:20px; }
.hot_community_list_txt li{ color:#0041d9; float:left; padding:10px 0; font-size:0; word-spacing:-5px; letter-spacing:-5px; }
.hot_community_list_txt li a{ cursor:pointer; }
.hot_community_list_txt li span{ display:inline-block; font-size:14px; height:20px; line-height:20px; overflow:hidden; word-spacing:0; letter-spacing:0; vertical-align:middle; }
.hot_community_list_txt .name{ width:127px; }
.hot_community_list_txt .price{ width:115px; }
.hot_community_list_txt b{ color:#d70000; }
.hot_community_list_txt a:hover, 
.hot_community_list_txt a:hover b, 
.hot_community_list_txt a:hover i{ color:#cd0200; }
/* footer house relative */ 
.house_rel_hd, 
.real_pic_hd, 
.popularity_hd, 
.new_comment_hd, 
.hot_community_hd,
.around_community_hd{ background-color:#f2f9ff; border-bottom:1px solid #b8d2ec; height:33px; line-height:33px; padding:0 15px; }
.house_rel ul{ padding:7px 0 7px 15px; }
.house_rel li{ cursor:pointer; display:inline; float:left; font-size:12px; line-height:24px; padding:8px 17px 4px 17px; position:relative; width:160px; height:199px;}
.house_rel li.hover{ background-image:none; background-color:#f2f9ff; border:none;}
.house_rel li a{ position:absolute; left:0; top:0; display:block; background:url(../img/blank.gif) repeat left top; width:194px; height:211px;}
.house_rel li .name{ width:160px; }

.house_rel_slider{ margin-top:10px;}
.house_rel_slider .hd{ background-color:#f2f9ff; height:33px; line-height:33px; padding:0 15px;}
.house_rel_slider .slider_wrap{ position:relative; padding:10px 19px; z-index:10;}
.house_rel_slider .slider_con{ width:960px; overflow:hidden; position:relative; height:209px; z-index:11;}
.house_rel_slider .slider_con ul{ position:absolute; left:0; top:0;}
.house_rel_slider .slider_con li{ cursor:pointer; display:inline; float:left; font-size:12px; line-height:24px; padding:5px; margin: 0 11px; position:relative; width:160px; height:199px;}
.house_rel_slider .slider_con li.hover{ background-image:none; background-color:#f2f9ff; border:none;}
.house_rel_slider .slider_con li a{ position:absolute; left:0; top:0; display:block; background:url(../img/blank.gif) repeat left top; width:170px; height:209px;}
.house_rel_slider .slider_con li .name{ width:160px; }

.house_rel_slider .pre, .house_rel_slider .next{ background-color:#fff; position:absolute; width:18px; height:209px; z-index:12;}
.house_rel_slider .pre{ left:7px;}
.house_rel_slider .next{ right:7px;}
.house_rel_slider .pre span, .house_rel_slider .next span{ background:url(../img/icon.png); background-repeat:no-repeat; cursor:pointer; display:block; position:absolute; top:50%; margin-top:-27px; height:53px; width:18px;}
.house_rel_slider .pre span{ background-position:-510px -380px;}
.house_rel_slider .pre span.active{ background-position:-556px -380px;}
.house_rel_slider .next span{ background-position:-533px -380px;}
.house_rel_slider .next span.active{ background-position:-579px -380px;}
/* footer_link */ 
.footer_link{ line-height:2.7; padding:5px 0; }
.footer_link dl, .footer_link p{ padding:0 15px; }
.footer_link dt{ float:left; width:72px; }
.footer_link dd{ float:left; width:896px;  word-wrap:break-word;}
.footer_link a{ color:#666666; margin-right:20px; display:inline-block;}
.footer_link a:hover{ color:#666666; }
.footer_link .row_hotsearch a{ cursor:default;}
.footer_link .row_hotsearch a:hover{ text-decoration:none;}

/*top img*/
.guideimg_box {width:1000px; height: 330px;position:relative;}
.guideimg_box .guideimg_nav {position:absolute; right:0; top:0; padding:9px 10px 0;}
.guideimg_box .guideimg_nav .mask{ background-color:#000;right:0; top:0; height:330px; width:250px;filter:alpha(opacity=50);opacity: 0.5;-moz-opacity:0.5; position:absolute; z-index:10;}
.guideimg_box .guideimg_nav ul{ position:relative;}
.guideimg_box .guideimg_nav li {cursor: pointer; padding:2px; margin-bottom:7px; height:73px; position:relative; z-index:11;}
.guideimg_box .guideimg_nav li.current { padding:0; border:solid 2px #fff;}
.guideimg_box .guideimgcon_box {width: 1000px; height: 330px;  position: relative; overflow:hidden;}
.guideimg_box .guideimgcon_box img{ width:1000px; height:330px;}
.guideimg_box .guideimgcon_box div {width: 1000px; height: 330px; position: absolute; left: 0; top: 0;}
.guideimg_box .guideimgcon_box .tittle{ position:absolute; left:0;color:#fff; padding:0 20px;font-family:\5fae\8f6f\96c5\9ed1; }
.guideimg_box .guideimgcon_box .tittle1{ top:40px;line-height:60px;  font-size:30px; background:url(../img/apha_80blue.png) repeat; _background-color:#1369c0;}
.guideimg_box .guideimgcon_box .tittle2{ top:100px; padding:10px 20px; line-height:30px; font-size:18px; background:url(../img/apha_50black.png) repeat;_background-color:#000; max-width:266px;_width:expression(this.scrollWidth > 266 ? "266px" : "auto"); }
/*top bankuai*/
.bankuaiblock{ background-color:#f7f7f7;}
.bankuaiblock .blockinner{ padding:10px;}
.bankuaiblock strong{ font-weight:bold;}
.bankuaiblock ul{border:solid 1px #e6e6e6; border-right:none;}
.bankuaiblock li{ float:left; width:25%; background-color:#fff; position:relative;}
.bankuaiblock li .inner{ border-right:solid 1px #e6e6e6; padding:10px;}
.bankuaiblock li .inner img{ width:60px; height:38px; float:left;}
.bankuaiblock li .img_upload img{float:none; width:auto; height:auto;}
.bankuaiblock li .block_con{ padding-left:70px;}
.bankuaiblock li .block_con *{ display:block; width:100%; overflow:hidden; text-overflow:ellipsis; -webkit-text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;}

.sidebar_mod_con{ padding:10px;}
.sidebar_bangdan .topimg img{ width:228px; height:120px;}
.sidebar_bangdan .topword .tt{ font-weight:bold; font-size:14px;}
.sidebar_bangdan .topword sup{ background-color:#ff6600; color:#fff; width:10px; height:10px; font-size:9px; line-height:10px; text-align:center; display:inline-block; font-weight:normal;}
.sidebar_bangdan .topword p{ line-height:1.8em;}

.more{font-family:\5b8b\4f53;}
strong{ font-weight:bold;}
.jinxuanlistwrap .timer{ font-weight:normal;}
.jinxuanlistwrap .tt{ border-bottom:dotted 1px #a5a5a5; line-height:34px; height:34px; padding-left:10px;}
.jinxuanlist .proimg{ float:left;}
.jinxuanlist .proimg img{ width:185px; height:138px;}
.jinxuanlist li{ width:100%; float:left; padding:20px 0; border-bottom:dotted 1px #a5a5a5;}
.jinxuanlist .list_con{ margin-left:205px; }
.jinxuanlist .list_coninner{padding-right:10px;}
.list_coninner .words{ line-height:1.8em;}
.jinxuanlist2 li{ width:350px; border-bottom:dotted 1px #a5a5a5; padding:10px 5px 10px 0;}
.jinxuanlist2 .tittle{ width:100%; font-size:14px;}
.jinxuanlist2 .words p{ width:258px; color:#666; margin-top:8px;}

.zhuanti .tt{ line-height:34px; height:34px; font-size:16px;}
.zhuanti li{ float:left; position:relative;}
.zhuanti li .outa img{ width:240px; height:132px;}
.zhuanti li .outa{ margin-right:13px;margin-right:9px\0; text-decoration:none;}
.zhuanti li .outa.last{ margin-right:0;}

.footer_link p.c_txt2{ border-bottom:1px solid #d6d6d6;}
.modal-backdrop{ z-index:20; display:none;}
.edittable .areawrap textarea{ height:110px; width:350px;}
.edittable .areawrap span{ display:block; text-align:right; font-size:12px; margin-top:5px; padding-right:20px;}
.edittable .form-control{ width:240px;}
.modal{ position:absolute; right:0; left:auto; bottom:auto; overflow:visible; top:auto; display:none;}
.modal-dialog{ margin:2px 0 0; width:520px;}
.modal-body{ cursor:default;}
.icon_tips{ display:inline-block;vertical-align:middle; background: url("../images/sidebar_icon.png") no-repeat -2px -85px; }
.guideimg_box .guideimg_nav li.outindex,.outindex{z-index:100;}

/*wegit*/
.modal-dialog{ width:500px !important;}
.modal-content{border-radius: 0px; min-height:265px;}
.modal-header{ padding:0 15px; background-color:#FAFAFA; border-bottom:solid 1px #D9D9D9;}
.modal-title{ line-height:38px; font-weight:bold;}
.modal-header .close { margin-top: 10px;}
.errortips{ background-color:#FFFFD7; border:solid 1px #F7E5B3; padding:5px 10px; color:#D80000;  margin:0 auto; }
.edittable .errortips{width:320px; font-size:12px;margin-top:-10px; margin-left:90px;}
.outwidth600 .errortips{ width:100%; margin:0;}
.edittable{ margin:0 0 10px; width:100%;font-size:14px;}
.outwidth600{ width:auto;}
.edittable .wordsnum,.edittable .tipwords{ font-size:12px; margin-left:12px;}
.edittable .table td,.edittable .table th{ font-size:12px;}
.edittable .form-control{ width:120px; margin-left:10px;}
.edittable .bankuai,.edittable .btn-sm{ margin-left:5px;}
.edittable .bankuai{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{ background-color:#fff;}
.edittable td{ padding:10px 1px;}
.edittable .btn{ font-weight:bold; padding:6px 30px;}
.edittable .btn-sm{ font-weight:normal;}
.edittable .innerdiv{ padding-left:10px;}
.edittable .btn-success{ margin-left:7px;}

.system_words{ padding:10px 22px 40px 50px;}
.system_words .imgleft{ float:left; margin-right:30px; display:inline;}
.system_words .divr{ overflow:hidden; padding-top:12px;}
.system_words .divr .uline{ margin-right:20px;}
.system_words .btn{ vertical-align:bottom;}

.menu_1{ height:12px; background-position:0 0;margin-right:10px;}
.menu_2{ height:16px; background-position:0 -14px;margin-right:10px;}
.menu_3{ height:15px; background-position:0 -33px;margin-right:10px;}
.icon_download{ width:10px; height:10px; background-position:-3px -144px;}
.icon_tips{ width:13px; height:16px; background-position:-2px -85px; margin-right:10px; margin-top:-2px;}
.btn-default:hover .icon_download{background-position:-3px -157px;}
.icon_notice{ width:12px; height:12px; background-position:-2px -52px;}
.icon_gantan{ width:16px; height:16px; background-position:0 -105px;}
.icon_xx{ width:8px; height:7px; background-position:-5px -171px;}
.icon_noticewrap:hover .icon_notice{ background-position:-2px -67px;}
.icon_noticewrap{ position:relative; display:inline;}
.icon_noticewrap .showeara{ position:absolute; top:24px; right:-28px; display:none;}
.icon_noticewrap .showeara em{ position:absolute; top:-6px; right:30px;}
.icon_noticewrap .showeara .mask{ background-color:#DDDDDD; filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; width:246px; height:40px; position:absolute;}
.icon_noticewrap .showeara .innerwords{ margin:3px; width:240px; height:34px; background-color:#fff; border:solid 1px #94BAED; padding:5px 8px; position:relative;}
.icon_noticewrap:hover .showeara{ display:block;}

.noreascout{margin:0 0 70px; text-align:center; border:solid 1px #ccc; border-top:none; padding:50px 0 175px;}
.noreascout div{ display:inline-block; background:url(../images/icon_attention.png) no-repeat; padding:16px 0 0 63px; text-align:left; }
.pagination{ margin:0;}

.widthl2{ margin-left:10px;}