.main_hd {
	color: #444;
	font-size: 18px;
	font-family:\5fae\8f6f\96c5\9ed1;
	margin: 10px 0;
}
/* common */

.modal-title {
	font-family: \5FAE\8F6F\96C5\9ED1 ;/*Î¢ÈíÑÅºÚ*/
}
.modal-header .close {
	margin-top: 5px;
	font-size: 16px;
	color: #999;
	opacity: 1;
}

.prompted {
	position: relative;
	padding-left: 80px;
	margin: 30px 100px;
}
.prompted_desc {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	padding: 12px 0;
}
.icon_prompted {
	position: absolute;
	left: 0;
	top: 0;
}
.icon_ok {
	display: inline-block;
	background: url(../images/icon_ok.png) no-repeat left top;
	height: 48px;
	width: 49px;
}
.icon_error {
	display: inline-block;
	background: url(../images/icon_error.png) no-repeat left top;
	height: 48px;
	width: 49px;
}
.form1 .form-control[disabled]{
	cursor: not-allowed;
	background-color: #fff;
}
.form1 .form-group {
	font-size: 14px;
	margin: 0 0 20px 0;
	padding-left: 120px;
	position: relative;
}
.form1 .form-group .control-label {
	font-weight: normal;
}
.form1 .form-group .control-label:first-child {
	width: 120px;
	position: absolute;
	left: 0;
	text-align: right;
}
.form1 .form-control {
	padding: 6px 10px;
	height: 37px;
	display: inline-block;
}
.form1 label[name='count'] {
	color: #666;
	font-size: 12px;
	margin-left: 10px;
}
.form1 textarea.form-control {
	height: 170px;
}
.form1 textarea + label[name='count'] {
	vertical-align: bottom;
}
.form1 label[name='count'] b {
	color: #1f1f1f;
	font-weight: 700;
}
.form1 .form_date {
	width: 12%;
}
.form1 .sline {
	color: #666;
	margin: 0 15px;
}
.form1 .submit {
	padding-top: 30px;
	padding-bottom: 30px;
}
.form1 .submit .btn {
	font-weight: bold;
	height: 37px;
	width: 105px;
	margin-right: 5px;
}
.form1 .Wdate {
	background: url(../images/dateicon.png) no-repeat right center;
	width: 140px;
}
.table1 {
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
.table1 th, .table1 td {
	border: 1px solid #ccc;
	font-size: 12px;
	line-height: 28px;
	padding: 12px 15px;
}

.table1 th {
	background-color: #f1f1f1;
	font-weight: 700;
	text-align: center;
}
.table1 .center{	
	text-align: center;
	vertical-align: middle;
}
.table1 td.last {
	padding: 0;
}
.tb_inner tr:first-child td {
	border-bottom: 1px solid #ccc;
}

.table1 .move_up i, .table1 .move_down i {
	display: block;
	width: 11px;
	height: 6px;
	margin: 0 auto;
}
.table1 .move_up i {
	background: url(../images/arrow.png) no-repeat 0 -20px;
}
.table1 .move_down i {
	background: url(../images/arrow.png) no-repeat 0 -27px;
}
.table1 .move_up i.disable {
	background-position: 0 0;
}
.table1 .move_down i.disable {
	background-position: 0 -7px;
}
.btn_add {	
	margin-right: 10px;
	width: 115px;	
	font-size: 14px;
	font-weight: 700;
	height: 37px;
	line-height: 35px;
}
.btn_add i {
	position:relative;
	display: inline-block;
	font-style: normal;
	font-size: 20px;	
	line-height: 20px;
	font-family: Tahoma;
	margin-right: 5px;
	top:2px;
}
.btn_disable {
	background-color: #ebebeb;
    border: 1px solid #ddd;
    color: #999;
	border-radius: 4px;
}
.tags {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px 0 20px 30px;
}
.tags .checkbox-inline {
	width: 110px;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
	margin-left: 0;
}
.tags input[type="checkbox"] {
  margin-top: 6px;
  margin-top: 4px\9;
}
.img_upload{  
	position: relative;
	display: table-cell;
	border: solid 1px #ccc; 
	height: 100px; 
	width: 140px; 
	text-align:center; 
	vertical-align:middle; 
}
.img_upload img{ 
	max-width:138px; 
	max-height:98px; 
}
.img_upload .del {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #000\9;
	background: rgba(0,0,0,.5);
	color: #fff;
	height: 26px;
	text-align: center;
	text-decoration: none;
	width: 26px;
}
.img_upload .del img{
	margin-top: 5px;
}
.img_upload_tips {
	display: table-cell;
	color: #666;
	vertical-align: bottom;
	padding-left: 10px;
	font-weight: normal;
	font-size: 12px;
}

/* modal */
.modal {
	background-color: rgba(0,0,0,.2);	
}
.modal-dialog {
	width: 520px;
	margin: 30px auto;
}
.modal-content {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.modal-header {
	background-color: #fafafa;
	border-bottom: 1px solid #d9d9d9;
	padding: 8px 15px;
}
.modal-body {
	padding: 10px 40px 25px 15px;
	min-height: 290px;
}
.modal-body textarea {
	height: 110px;
}
.modal-body textarea + label[name='count'] {
	display: inline-block;
	margin: 0;
	width: 100%;
	text-align: right;
}
.modal-body .btn[type=button] {
	font-weight: bold;
	height: 37px;
	width: 100px;
	margin-right: 5px;
}
.modal-body .form-group:last-child {
	margin-top: -10px;
}

.modal-body .form1 {
	position: relative;
	padding-top: 40px;
}
.modal-body .form_error {
	position: absolute;
	left: 120px;
	top: 0;
	display: none;
	background-color: #ffffd7;
	border: 1px solid #f4d882;
	color: #d80000;
	margin-bottom: 10px;
	height: 32px;
	line-height: 32px;
	padding: 0 10px 0 34px;
	width: 50%;
}
.modal-body .form_error i {
	position: absolute;
	left: 10px;
	top: 9px;
	background-color: #ec971f;
	display: inline-block;
	height: 17px;
	width: 17px;
	-moz-border-radius: 17px;
	-webkit-border-radius: 17px;
	border-radius: 17px;
}
.modal-body .form_error i:before {
	content: "!";
	color: #fff;
	font-style: normal;
	font-weight: 700;
	position: absolute;
	left: 6px;
	top: -8px;
}

