/* common */
.ml10 {
	margin-left: 10px;
}
.main {
	padding-top: 90px;
}
.main_l {
	float: left;
	width: 300px;
	padding-left: 120px;
}
.main_r {
	float: left;
	max-width: 700px;
}
.avator {
	position: relative;
	background-color: #ccc;
	height: 90px;
	width: 90px;
	overflow: hidden;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
	text-align: center;
}
.avator img {
	height: 90px;
	width: 90px;
}
.modify {
	position: relative;
	background-color: #888;
	border: 1px solid #777;
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 28px;
	margin-top: 30px;
	padding-left: 28px;
	width: 98px;
	overflow: hidden;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.modify:hover {
	background-color: #777;
	border-color: #666;
}
.modify i {
	position: absolute;
	left: 10px;
	top: 3px;
	height: 0;
	width: 0;
	font-size: 0;
	border: 6px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}
.modify i:after {
	position: absolute;
	left: -2px; 
	top: 6px;
	content: "";	
	background-color: #fff;
	width: 4px;
	height: 5px;
}
.modify input[type=file] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	filter:alpha(opacity=0);
	cursor: pointer;
	width: 98px;
	height: 30px;	
	overflow: hidden;
}
.welcome {
	font-size: 14px;
	line-height: 35px;
	margin-bottom: 60px;
}
.welcome .tit {
	font-size: 28px;
	font-family: \5fae\8f6f\96c5\9ed1;
	margin-bottom: 20px;
}
.welcome .edit {
	margin-left: 15px;
	font-size: 12px;
}
.help {
	color: #666;
	line-height: 28px;
}
.welcome input[type=text] {
	border: 1px solid #ccc;
	height: 37px;
	width: 107px;
	padding: 0 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0 3px 4px rgba(116,116,116,.1);
	-webkit-box-shadow: inset 0 3px 4px rgba(116,116,116,.1);
	box-shadow: inset 0 3px 4px rgba(116,116,116,.1);
}
.welcome .username_edit, .welcome .username_save {
	font-size: 12px;
	margin-left: 10px;
}
.welcome .username_save {
	background-color: #ebebeb;
	border: 1px solid #ccc;
	color: #666;
	display: inline-block;
	font-weight: bold;
	height: 30px;
	line-height: 28px;
	width: 64px;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.welcome .username_save:hover {
	background-color: #ddd;
	border-color: #bbb;
}
