body,html {
    overflow: hidden;
}
.c222{
    color: #222;
}
.c004{
    color: #0041d9;
}
.icons, .marker2:link, .marker2:visited, .listing .title .a_tit{
    display: inline-block;
    background: url("../img/bg_map.png") no-repeat 0 0;
    *background: url("../img/bg_map.gif");
    overflow: hidden;
    cursor: pointer;
}
/** header **/
.container .header{
    position: relative;
    width: 100%;
    height: 56px;
    line-height: 56px;
    background: #fff;
    overflow: hidden;
}
.header .logo{
    margin: 5px 39px 0 10px;
    display: inline-block;
    width: 156px;
    height: 44px;
    overflow: hidden;
    vertical-align: top;
    *vertical-align: middle;
    background: url("../img/bg_logo.png") no-repeat 0 0;
}
.header strong{
    margin: 0 14px 0 0;
}
.header .header_nav{
    position: absolute;
    right: 44px;
    top: 0;
    text-align: right;
}

/** mapNav **/
.container .map_tabs{
    background: #f0f0f0;
    height: 48px;
    border: 1px solid #d8d8d8;
}
.map_tabs .li_tabs{
    float: left;
    width: 10%;
    text-align: center;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
}
.map_tabs .li_gray{
    cursor: default;
}
.map_tabs .selected{
    margin: 0 -1px 0 -1px;
    *margin-left: -4px;
    background: #fff;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}
.li_tabs i, .marker2 i{
    display: inline-block;
    background: url("../img/view_icon2.png") no-repeat 0 0;
    *background-image: url('../img/view_icon2.gif');
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.li_tabs i {
    margin: 0 6px 0 0;
    *margin-top: 15px;
    *vertical-align: text-bottom;
    border-radius: 2px;
    background-color: #3f90ff;
}
.marker2 i {
    margin: 0 0 7px 2px;
}
.li_gray i{
    background-color: #bbb;
}
.selected i{
    background-color: #f66000;
}
.li_tabs .icon_dt,.marker2 i.icon_dt{ background-position: 2px -161px; }
.li_tabs .icon_yh,.marker2 i.icon_yh{ background-position: 3px -195px; }
.li_tabs .icon_cc,.marker2 i.icon_cc{ background-position: 2px -229px; }
.li_tabs .icon_yy,.marker2 i.icon_yy{ background-position: 4px -262px; }
.li_tabs .icon_yd,.marker2 i.icon_yd{ background-position: 3px -295px; }
.li_tabs .icon_ct,.marker2 i.icon_ct{ background-position: 4px -329px; }
.li_tabs .icon_xx,.marker2 i.icon_xx{ background-position: 2px -363px; }
.li_tabs .icon_cs,.marker2 i.icon_cs{ background-position: 2px -397px; }
.li_tabs .icon_gy,.marker2 i.icon_gy{ background-position: 2px -434px; }
.li_tabs .icon_lfd,.marker2 i.icon_lfd{ background-position: 2px -470px; }
/** content **/
.container .main_content {
    margin-top: 0;
    position: relative;
    z-index: 2;
    width: 100%;
}
.main_content .map_bar{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background: #c0bfb0;
    border-top: 1px solid #b5b3a6;
    border-bottom: 1px solid #dcdacc;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
/*map_main*/
.main_content .map_main {
    position: relative;
    margin: 0 400px 0 0;
    min-height: 400px;
    height: 100%;
    background: #f5f5f5;
    border-right: 1px solid #b2b2b2;
}
/*overLayer*/
.overLayer{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 3;
    background: #fff;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    width: 238px;
    box-shadow: 1px 1px 1px #9f9d9b;
}
.overLayer .layer_tit{
    padding: 0 0 0 13px;
    display: block;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    background: #f9f9f9;
}
.overLayer .container{
    max-height: 380px;
    overflow-y: auto;
}
.overLayer .layer_con{
    padding: 7px 10px 5px 12px;
    width: 198px;
    height: 64px;
    overflow: hidden;
    line-height: 24px;
}
.overLayer .layer_con p.con_p1{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.overLayer .layer_con p.con_p2{
    line-height: 20px;
    text-overflow: ellipsis;
    height: 40px;
    overflow: hidden;
}

.overLayer .icons{
    position: absolute;
    overflow: hidden;
}
.overLayer .i_close{
    top: 7px;
    right: 7px;
    background-position: 0 -164px;
    width: 16px;
    height: 15px;
}
.overLayer .i_bot1{
    background-position: 0 -145px;
    *background-position: 0 -155px;
    width: 16px;
    height: 8px;
    bottom: -8px;
    left: 50%;
}
/*marker*/
.marker{
    position: absolute;
    /*top: 50px;
    left: 330px;*/
    z-index: 3;
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #3f90ff;

}
.marker .i_bot2{
    position: absolute;
    bottom: -9px;
    left: 6px;
    background-position: 0 -122px;
    *background-position: 0 -134px;
    width: 21px;
    *width:19px;
    height: 10px;
}
.marker2:link, .marker2:visited{
    padding: 0;
    left: 420px;
    background-position: 0 -31px;
    width: 26px;
    height: 28px;
    overflow: hidden;
    z-index: 0;
}
.marker2:hover, .marker_curr:link, .marker_curr:visited, .marker_curr:hover{
    background-position: 0 0;
    z-index: 10;
}

/*map_list*/
.main_content .map_list {
    margin: 0 0 0 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 380px;
    min-height: 370px;
    z-index: 1;
    overflow-y: auto;
}
.map_list .listing{
    margin: 12px 0 0;
    border-top: 1px solid #e0e0e0;
    /*border-bottom: 1px solid #e0e0e0;*/
}
.listing .items {
    padding: 13px 0 12px 10px;
    height: auto;
    overflow: hidden;
    background: #fff;
    /*border-top: 1px dashed #d6d6d6;
    border-bottom: 1px solid #fff;*/
    border-bottom: 1px dashed #d6d6d6;
    line-height: 25px;
    font-size: 14px;
    font-family:  \5b8b\4f53;
}
.listing .hover{
    /*margin-top: -1px;
    padding-top: 14px;
    border-top: 1px solid #fff;*/
    border: 0;
    border-bottom: 1px dashed #d6d6d6;
    background: #f2f9ff;
    /*cursor: pointer;*/
}
.listing .title{
    position: relative;
    padding: 0 60px 0 0;
}
.listing .title .a_tit{
    padding: 0 0 0 22px;
    /*background-position: 0 -91px;*/
    background-position: 0 -65px;
    color: #0041d9;
}
.listing .title .a_tit:hover, .hover .title .a_tit:link, .hover .title .a_tit, .hover .title .a_tit:hover{
    /*background-position: 0 -65px;*/
    background-position: 0 -91px;
}
.listing .title em{
    position: absolute;
    left: 292px;
    top: 0;
    display: inline-block;
    width: 60px;
}
.listing .address{
    padding: 0 0 0 25px;
    width: 225px;
    overflow: hidden;
}