<div class="maininner">
	<h6 class="maintt">
		您的位置：
		<a href="/">首页</a>
		&gt; 城市数据字典 &gt;
		<strong class="font_gold"> 学校字典 </strong>
	</h6>
	<form method="get" action="/school/">
	<table class="search_form mb15">
		<tbody>
			<tr>
                                <td width="120"> 
                                         <select class="form-control s" name="cityId" onchange="getDist('distId',0,this.value,'所有区域');">
                                               <?=MyTags::options($citys, $cityId)?>
                                         </select>
                                </td>
                                <td width="120"> 
                                         <select class="form-control s" name="distId" id="distId">
                                             <option value ="城区" selected = "selected">城区</option>
                                                <?=MyTags::options($dists,$distId)?>
                                         </select>
                                </td>
                                <td width="120"> 
                                         <select class="form-control s" name="rankId" id="rankId" >
                                             <option  selected = "selected">学校类别</option>
                                                <?=MyTags::options($types,$rankId)?>
                                         </select>
                                </td>
                                <td width="120"> 
                                         <select class="form-control s" name="chooseId">
                                               
                                                <?=MyTags::options($chooses, $chooseId)?>
                                         </select>
                                </td>
                                <td width="140"> 
                                         <input class="form-control" type="text" placeholder="学校名称" name="schoolname" value="{{ schoolname }}" />
                                </td>
				<td>
					<button class="btn btn-gray" type="submit">搜 索</button>
					<a class="btn btn-success widthxl" href="/school/add/">
						<strong> + </strong>
						新增学校
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	</form>
	{% if lists %}
	<table class="table table-hover mt10">
		<tr>
			<th style="width:15%">ID</th>
			<th style="width:15%">学校分类</th>
			<th style="width:15%">城区</th>
			<th>学校名称</th>
			<th style="width:15%">有无坐标</th>
			<th style="width:15%">操作</th>

		</tr>
		{% for list in lists %}
		<tr id="{{ list['id'] }}">
			<td align="center">{{ list['id'] }}</td>
			<td align="center">{{ types[list['rank']] }}</td>
			<td align="center">{{ dists[list['distId']] }}</td>
                        <td align="center">{{ list['name'] }}</td>
                        <td align="center"><?php if($list['x']&&$list['y']){ ?>有<?php } else {?>无<?php }?></td>
			<td align="center" class="operate">
				<a href="/school/edit/{{ list['id'] }}/" class="editmodal">修改</a>
                <div class=" arrow_tipswrap widthl">  <a class="deletemodal">删除</a> </div>
			</td>
		</tr>
		{% endfor %}
	</table>
	{{ page }} 
	{% else %}
	<table class="table table-striped table-hover mt10">
		<tr>
			<th>ID</th>
			<th>城区</th>
			<th>排序权重</th>
			<th>操作</th>
		</tr>
	</table>
	<div class="noreascout">
		<div>
			<p>
				<strong class="font14"> 很抱歉，没有找到符合条件的标签 </strong>
			</p>
			<p class=" mt10 gray">建议您：调整搜索内容，获取更多结果</p>
		</div>
	</div>
	{% endif %}
</div>
<!-- 删除弹出框 -->
<div style="display:none;"  class="arrow_tipsinner arrow_tips" id="arrow_tips">
    <img width="11" height="8" class="arrow_t" src="{{ src_url }}images/arrow_t.png">
    <h5 class="tittle">系统提示</h5>
    <a class="close_mylabel icon icon_xx"> </a>
    <div class="words">
        <p><em class="icon icon_gantan vm"></em>  <span class="wordsr widthm "> 确认删除吗？ </span></p>
        <p class="btnwrap">
            <button type="button" class="btn btn-success btn-xs btn-yes">确认</button>
            <button type="button" class="btn btn-default btn-xs widthl2 btn-no">取消</button>
        </p>
    </div>
</div>
<!-- 撤回成功弹出框 -->
<div style="display:none;"  class="arrow_tipsinner arrow_tips" id="del_success_tips">
    <img width="11" height="8" class="arrow_t" src="{{ src_url }}images/arrow_t.png">
    <h5 class="tittle">系统提示</h5>
    <a class="close_mylabel icon icon_xx"> </a>
    <div class="words">
        <p><em class="icon icon_sure vm"></em>  <span class="wordsr widthm "> 删除成功 </span></p>
        <p class="btnwrap mt10"><a href="">返回列表</a></p>
    </div>
</div>
<!-- 撤回失败弹出框 -->
<div style="display:none;" class="arrow_tipsinner arrow_tips" id="del_fail_tips">
    <img width="11" height="8" class="arrow_t" src="{{ src_url }}images/arrow_t.png">
    <h5 class="tittle">系统提示</h5>
    <a class="close_mylabel icon icon_xx"> </a>
    <div class="words">
        <p><em class="icon icon_error vm"></em>  <span class="wordsr widthm message"> 删除失败！ </span></p>
        <p class="btnwrap mt10"><a href="">返回操作</a></p>
    </div>
</div>
<script type="text/javascript">
	var menu = 'menu2';
	var moudle = 'school';
    $(function() {
        var cururl = base_url + "school/";
            
        $('.deletemodal').click(function() {
            var id = $(this).parent().parent("td").parent("tr").attr("id");
         
            var _this = $(this);

            _this.delConfirm("删除确认", "确定要删除吗?", function(result) {
                if (result == true) {
                    $.request({
                        url: cururl + "del/" + id + "/",
                        callback: function(msg) {

                            if (msg.status == 0) {
                                _this.delSuccess("删除成功");
                            } else {
                                _this.delFail(msg.info);
                            }

                        }
                    });
                }               
            });
        });
    });

</script>
